{% extends "base.html" %}

{% block title%}
<title>Staff-view</title>
{% endblock %}

{%block content%}
    <div class="container">
        <h3>{{item.name}}</h3>
        <p><b>Age: </b>{{item.age}}</p>
        <p><b>Phone: </b>+{{item.phone}}</p>
        <p><b>Email: </b>{{item.email}}</p>
        <button><a href="{% url 'staff_list' %}">Staffs</a></button>
        <button><a href="{% url 'update-staff' item.id %}">Update</a></button>
        <button><a href="{% url 'delete' item.id %}">Delete</a></button><br>

    </div>
{% endblock%}